{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="container-fluid border-end bg-dark py-3">
        {% for cors in course %}
          {% if cors.chapter == 1 %}
            <a class="d-block text-decoration-none" href="#">
              <div class="row">
                <h6><mark>{{cors.text}}</mark></h6>
              </div>
            </a>
          {% endif %}

          {% if cors.chapter == 2 %}
            <a class="d-block text-decoration-none" href="#">
              <div class="row text-warning ms-2">
                <h6>{{cors.text}}</h6>
              </div>
            </a>
          {% endif %}

          {% if cors.chapter == 3 %}
            <a class="d-block text-decoration-none" href="#">
              <div class="row text-white ms-4">
                <h6>{{cors.text}}</h6>
              </div>
            </a>
          {% endif %}
        {% endfor %}


    </div>

    </div>
      <div class="col-9">
        <div class="container-fluid ms-4 ">
          <h2 class="text-center"><b>Ускоренный курс SQL</b></h2>
          <h3>Что такое база данных</h3>
          <p>Начнем с основ. База данных (БД) — это место для организованного хранения данных. Есть множество способов
            организации данных и, как следствие, большое количество
            баз, из которых можно выбирать. Базы данных делятся на две
            категории: SQL и NoSQL.</p>
          <h3>SQL</h3>
          <p>SQL — это сокращение от Structured Query Language (язык
            структурированных запросов). Представьте, что у вас есть
            приложение, которое помнит дни рождения ваших друзей
            и близких. SQL — самый популярный язык, с помощью которого вы можете взаимодействовать с этим приложением
            Базы данных SQL часто называют реляционными, поскольку
            они состоят из отношений, которые чаще всего называют таблицами. Множество таблиц,
            связанных между собой, составляют БД.
            Главное, что следует отметить в отношении баз данных SQL, —
            это то, что они требуют наличия предопределенных схем.
            Схему можно рассматривать как способ организации или
            структурирования данных в базе. Допустим, вы хотите создать
            таблицу. Прежде чем загружать в нее какие-либо данные, необходимо сначала определиться с ее структурой, в том числе
            с тем, какие столбцы будут в ней, будут ли они содержать
            целочисленные или десятичные значения и т. д.
            Однако наступает момент, когда данные невозможно организовать таким структурированным образом. Ваши данные
            могут иметь различные поля, или вам может потребоваться
            более эффективный способ хранения большого объема данных
            и доступа к ним. Вот здесь и приходит на помощь NoSQL.
          </p>
          <h3>NoSQL</h3>
          <p>
            NoSQL означает не только SQL (not only SQL). В нашей книге
            эта категория баз подробно не рассматривается, но я хотела
            обратить на нее внимание, поскольку с 2010-х этот термин
            стал весьма популярным и важно понимать, что существуют
            способы хранения данных, выходящие за рамки таблиц.
            Базы данных NoSQL часто называются нереляционными и бывают разных форм и размеров. В числе их основных характеристик — наличие динамических схем (то есть схема не должна
            быть зафиксирована заранее) и возможность горизонтального
            масштабирования (то есть данные могут быть распределены
            по нескольким машинам).
            Наиболее популярной базой данных NoSQL является MongoDB,
            которая в большей степени представляет собой БД документов.
            На рис. 1.2 показано, как хранятся данные в MongoDB. Вы можете заметить, что данные больше не находятся в структурированной таблице, а количество полей (аналогично столбцам)
            варьируется для каждого документа (аналогично строкам).
            Тем не менее основное внимание в этой книге уделяется базам
            данных SQL. Даже после появления NoSQL очень многие
            компании по-прежнему хранят бо́льшую часть своих данных
            в таблицах реляционных БД.
          </p>
          <h3>Системы управления базами данных (СУБД)</h3>
          <p>Возможно, вы слышали такие термины, как PostgreSQL или
            SQLite, и задавались вопросом, чем они отличаются от SQL.
            Это два типа системуправления базами данных (СУБД), то есть
            программного обеспечения, используемого для работы с базой.
            Программное обеспечения СУБД включает в себя такие функции, как определение способов импорта и организации данных,
            а также управление доступом пользователей и других программ
            к данным. Система управления реляционными базами данных
            (РСУБД) — программное обеспечение, специально предназначенное для реляционных БД, или баз, состоящих из таблиц.
            Каждая РСУБД имеет свою реализацию SQL, а это означает,
            что синтаксис немного различается в зависимости от программного обеспечения. Например, вот как можно вывести
            десять строк данных в пяти различных системах
          </p>
          <code>
            MySQL, PostgreSQL и SQLite
            SELECT * FROM birthdays LIMIT 10;
            Microsoft SQL Server
            SELECT TOP 10 * FROM birthdays;
            Oracle Database
            SELECT * FROM birthdays WHERE ROWNUM <= 10;
          </code>
          <p>
            В этой книге рассматриваются основы SQL, а также нюансы
            пяти популярных систем управления базами данных: Microsoft
            SQL Server, MySQL, Oracle Database, PostgreSQL и SQLite.
            Одни из этих систем являются проприетарными, то есть принадлежат компании, и их использование требует денег, а другие имеют открытый исходный код, то есть любой желающий
            может использовать их бесплатно. В табл. 1.1 подробно описаны различия между РСУБД.
          </p>
          <h3>SQL-запрос</h3>
          <p>
            В мире SQL часто встречается аббревиатура CRUD, которая
            расшифровывается как Create, Read, Update, Delete (создание,
            чтение, обновление и удаление). Это четыре основные операции, которые доступны в базе данных
          </p>
          <h3>SQL-операторы</h3>
          <p>
            Люди, имеющие доступ для чтения и записи, могут выполнять
            с базой все четыре операции: создавать и удалять таблицы,
            обновлять в них данные и читать данные из таблиц. Другими
            словами, эти люди обладают всей полнотой власти.
            Они пишут SQL-операторы — общий SQL-код, который можно написать для выполнения любой из операций CRUD. Эти
            люди часто занимают такие должности, как администратор
            баз данных (database administrator, DBA) или инженер баз
            данных
          </p>
          <h3>SQL-запросы</h3>
          <p>
            Люди, имеющие доступ для чтения, могут выполнять в БД
            только операцию чтения, то есть могут просматривать данные
            в таблицах.
            Эти люди пишут SQL-запросы, которые представляют собой
            более конкретный тип SQL-операторов. Запросы используются для поиска и отображения данных, иначе называемых
            чтением данных. Иногда это действие называют запросом
            к таблицам. Эти люди часто занимают такие должности, как
            аналитик данных или специалист по анализу данных.
            Следующие два подраздела представляют собой краткое
            руководство по написанию SQL-запросов, поскольку это наиболее часто встречающийся тип SQL-кода. Более подробная
            информация о создании и обновлении таблиц содержится
            в главе 5.
          </p>
          <h3>Оператор SELECT</h3>
          <p>
            Самый простой SQL-запрос (который будет работать в любом
            программном обеспечении SQL) имеет вид:
            SELECT * FROM my_table;
            В нем говорится: покажите мне все данные в таблице с именем
            my_table — все столбцы и все строки.
            Хотя SQL не чувствителен к регистру (SELECT и select эквивалентны), можно заметить, что одни слова написаны
            заглавными буквами, а другие — нет
            Слова в запросе, записанные заглавными буквами, называются ключевыми. Это означает, что SQL зарезервировал
            их для выполнения той или иной операции над
            данными. Все остальные слова пишутся строчными буквами. Это относится к именам таблиц, столбцов и т. д
          </p>

        </div>
      </div>


  </div>

</div>






{% endblock content %}